*:root{
  --primary-color: #025e9b;
  --secondary-color: #ffb617;
  --background-color: #171717;
  --grey:#b6b5b5;
  --darkGrey: #666666;
  --brandHover:#0f88da;
  --hover-secondary: #ffca57;
}


@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
        url('../fonts/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
        url('../fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
        url('../fonts/Oswald-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


* {
  box-sizing: border-box ;
}

body {
  margin: 0;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
   font-weight: normal;
  font-style: normal;
  text-transform: capitalize !important;
  line-height: 29.6px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}



.display-3 {
  color: var(--primary-color);
  font-size: 56px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 20px;
  line-height: 60px;
}

.secH {
  font-size: 48px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  line-height: 52px;
  margin-bottom: 40px;
}
.secH.centerStyle{
  text-align: center;
}
.secH.centerStyle::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  line-height: 0;
  background-color: #ffb617;
}

.secH.sideStyle{
  font-weight: 400 ;
}

.secH.sideStyle::after{
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -10px;
  line-height: 0;
  background-color: #ffb617;
}


.therdH {
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  margin: 0 0 20px;
}

.fourthH {
  font-size: 24px;
  font-weight: bold;
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: capitalize;
  line-height: 30px;
  position: relative;
}
.fourthH.sideStyle::after{
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -10px;
  line-height: 0;
  background-color: #ffb617;
}

.fourthH.centerStyle::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  line-height: 0;
  background-color: #ffb617;
}

.fifthH {
  font-size: 18px;
  font-weight: 600;
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: capitalize;
  position: relative;
}




.bodysmall{
  font-size: 14px;
}

.wrapheder{
  height: 90.1px;
}

.miniHeader{
  background-color: var(--primary-color);
  padding: 8px 0;
  display: none;
}
.miniHeader .container>.row{
  justify-content: space-between;
}

.headIcon{
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
.headIcon i{
  color: var(--hover-secondary);
  margin-right: 4px;
}
.headIcon:hover,.socialIconHead a:hover{
  color: var(--hover-secondary);
}

.socialIconHead{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.socialIconHead a{
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

/* Initial header styling */

#main-header {
  transition: all 0.5s ease;
  z-index: 1055;
  position: relative;
}

/* Hidden when out of view */
.sticky-header {
  position: fixed;
  top: -112.48px; /* Hidden initially */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
  transition: top 0.5s ease; /* Slide down animation */
  animation: slideDown 0.5s ease-in-out both;
}

@keyframes slideDown {
  0% {
    position: fixed;
    top: -112.48px;
  }
  100% {
    position: fixed;
    top: 0;
  }
}
.headerAnimate {
  animation: slideUp 0.5s ease-in-out both;
}

@keyframes slideUp {
  0% {
    top: 50.48px;
    position: relative;
  }
  100% {
    top: 0px;
  }
}
.sticky-header.visible {
  top: 0; /* Slide into view */
}

.navbar-brand {
  display: inline-block;
  margin-right: 45px;
  padding: 0 ;
  width: 84px;
  position: relative;
}


.bg-dark{
  background-color: var(--background-color) !important;
}

.navbar-nav .nav-link{
  font-weight: 600;
  color: var(--background-color);
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-top: 17.37px !important;
  padding-bottom: 17.37px !important;
}
.navbar-nav .nav-link.active:hover,
.navbar-nav .show > .nav-link {
  color: var(--secondary-color);
}
.navbar-nav .nav-link.active{
position: relative;
}

.navbar-nav .nav-link.active:before {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0;
  height: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: var(--secondary-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--secondary-color);
 
}

.dropdown-menu[data-bs-popper] {
  left: -74px;
  width: 275px;
}



.dropend .dropdown-toggle::after {
  content: "\f054";
  position: absolute;
  right: 8px;
  top: 28px;
  transform: translateY(-50%);
  font-size: 10px;
  line-height: 1;
  font-weight: 900;
  font-family: "Font Awesome 6 free";
  border: none;
}
.dropdown-toggle::after {
  content: "\f107";
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  font-family: "Font Awesome 6 free";
  border: none;
}
.navbar-nav {
  gap: 20px;
}
.dropdown-item {
  white-space: initial;
  line-height: 20.6px;
  padding: 8px 12px;
  color: var(--darkGrey);
  background-color: transparent;
  transition:  background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: var(--brandHover);
}
.dropdown-menu {
  padding: 0;
  border-radius: 0;
  border-color: #00000011;
}



.navbar > .container {
  position: relative;
}


/* header css end */


/* banner css start */

#ca1.owl-carousel {
  overflow-x: hidden;
}


.Banner .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}
.Banner .owl-nav button {
  pointer-events: initial;
  height: 57px;
  width: 60px;
  line-height: 1.25;
  text-transform: capitalize;
}

.Banner .owl-nav button span{
  display: inline-block;
  transform: translateY(-4px);
}
.Banner .owl-carousel .owl-nav button.owl-prev {
 
  padding: 0 15px !important;
  font-size: 55px;
  transition: transform 0.3s ease-in-out;
}

.Banner .owl-carousel .owl-nav button.owl-next {
 
  padding: 0 15px !important;
  font-size: 55px;
  transition: transform 0.3s ease-in-out;
}

.Banner .owl-nav .owl-prev i {
  margin-right: 10px;
}
.Banner .owl-nav .owl-next i {
  margin-left: 10px;
}



/* whatsapp fab */
.fab-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 1000;
}

.Call-fab-container{
  position: fixed;
  bottom: 94px;
  right: 24px;
  cursor: pointer;
  z-index: 1000;
}

/* banner css end */





/* whatsapp fab */
.fab-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 1000;
}

.Call-fab-container {
  position: fixed;
  bottom: 94px;
  right: 24px;
  cursor: pointer;
  z-index: 1000;
}

/* banner css end */

/* footer section start */


.footer {
  background-color: var(--background-color);
  color: #ffffff;
}
.footer.defaultPadding {
  padding: 80px 0;
}
.footer .footer-brand {
  display: inline-block;
  width: 40%;
  min-width: 100px;
  margin-bottom: 8px;
}
.footer .fourthH {
  color: #ffffff !important;
  margin-bottom: 35px;
}
.footer .container > .row {
  justify-content: space-between;
}
.footerLinkWrap{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.exploreLinks .fourthH.centerStyle{
  text-align: center;
}
.exploreLinks a i {
  margin-right: 20px;
  font-size: 15px;
  color: var(--secondary-color);
}


.footer .emailSec{
  text-align: center;
}
.footer .exploreLinks ul {
  padding: 0;
}
.footer .exploreLinks ul li{
  text-align: left;
  }
.contact-info {
  text-align: left;
}
/* .footer ul {
  max-width: 284px;
} */


.footer ul {
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
}
.footer ul li {
  margin-bottom: 5px;
}
.footer ul li:last-child {
  margin-bottom: 0;
}
.footer ul li a {
  color: var(--darkGrey);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer ul li a:hover {
  color: #ffffff;
}
.emailSec{
  min-width: 279px;
}
.emailAnchor{
  display: inline-block;
  min-width: 240px;
}
.footer .contact-info i {
  color: var(--secondary-color);
  font-size: 20px;
  margin-right: 10px;
}
.locationLink {
  display: inline-block;
  position: relative;
  padding-left: 22px;
}
.locationLink i {
  position: absolute;
  left: 0;
  top: 6px;
}
.footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.footer .social-icons a {
  display: flex;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}
.footer .social-icons a:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.footer .social-icons .facebook {
  background-color: #0c71c3;
}
.footer .social-icons .instagram {
  background-color: #ea2c59;
}
.footer .social-icons .whatsapp {
  background-color: #25d366;
}

/* footer section End */

.defaultPadding{
  padding: 50px 0;
}

/* Our Industry-Leading Divisions Section start */
.IndustryLeadingDivisions {
  color: #ffffff;
  background: linear-gradient(to bottom, #024f83a6,rgba(12, 182, 239, 0.377)) no-repeat center, url('../image/DivisionBack.png') no-repeat center;
  background-size: cover, cover;
}

.divisionCard .fourthH{
  color: var(--background-color);
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}
.imgHover{
  overflow: hidden;
  position: relative;
}


.imgHover img{
  aspect-ratio: 1;
  object-fit: cover;
  transition:  scale 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.textPart{
  padding: 8px;
  padding-top: 24px;
  position: relative;
}
.textPart::after{
  content: "";
  position: absolute;
  height: 6px;
  border-radius: 10px;
  width: 50%;
  top: 10px;
  left: 0;
  background-color: var(--hover-secondary);
  transition: all 0.5s ease-in-out;
}

.divisionCard:hover .textPart::after{
  width: 100%;
}


.divisionCard:hover .imgHover img{
 scale: 1.1;
}
.divisionCard:hover .fourthH{
opacity: 1;
}
/* Our Industry-Leading Divisions Section end */


/* Service section start */

.serviceSection {
  background: linear-gradient(#ffffffbb, #ffffffbb), url('../image/TabBackground2.png') no-repeat  center;
  background-size: cover;
}


.nav-pills .nav-link{
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: 600;
  color: var(--background-color);
  min-width: 102.22px;
}

.nav-pills .nav-link:hover{
  color: var(--primary-color);  
}

.iconTab{
  padding: 10px;
  width: 80px;
  aspect-ratio: 1/1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: linear-gradient(to bottom, #024f83,rgb(12, 182, 239)) no-repeat center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--primary-color);
  background-color: transparent;
}

.nav-pills .nav-link.active .iconTab{
  border: 2px solid var(--secondary-color);
}

.nav-pills{
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.hoverZoom{
  overflow: hidden;
}
.hoverZoom img{
 transition: 0.5s ease-in-out;
}

.hoverZoom:hover img{
 scale: 1.1;
}

.btnYellow{
  display: inline-block;
  padding: 14px 24px;
  color: var(--background-color);
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease-in-out;
}

.btnYellow:hover{
  background-color: var(--hover-secondary);
}
/* Service section end */

/* What Our Client Say section start */
.Testimonial{
  color: #ffffff;
  background: linear-gradient(to bottom, #024f83a6,rgba(12, 182, 239, 0.377)) no-repeat center, url('../image/DivisionBack.png') no-repeat center;
  background-size: cover, cover;
}

.Testimonial .owl-carousel{
  overflow: hidden;
  max-width: 800px;
  margin: auto;
  border-radius: 20px;
}

.Testimonial .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}
.Testimonial .owl-nav button {
  pointer-events: initial;
  height: 50px;
  width: 40px;
  opacity: 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.25;
  color: var(--secondary-color) !important;
}
.Testimonial .owl-carousel .owl-nav button.owl-prev {
  font-size: 55px;
  transform: translateX(-70px);
  transition: transform 0.3s ease-in-out;
}
.Testimonial .owl-carousel .owl-nav button.owl-next {
  font-size: 55px;
  transform: translateX(70px);
  transition: transform 0.3s ease-in-out;
}
.Testimonial .owl-carousel:hover .owl-nav button.owl-next {
  transform: translateX(0px);
}
.Testimonial .owl-carousel:hover .owl-nav button.owl-prev {
  transform: translateX(0px);
}
.Testimonial .owl-nav .owl-prev span {
  transform: translateY(-7px);
}
.Testimonial .owl-nav .owl-next span {
  transform: translateY(-7px);
}

.testimonialCard{
  padding: 38px;
  border-radius: 20px;
  background-color: var(--primary-color);
  border:  1px solid #ffffff98;
}

.authorWraper {
  margin-top: 24px;
}

.authorCard,
.authorWraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.authorWraper .fa-quote-right {
  font-size: 70px;
  color: var(--secondary-color);
}

.AvatarIcon {
  height: 80px;
  width: 80px;
}
.AvatarIcon img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
.authorCard .AvatarInfo {
  width: calc(100% - 110px);
}
.authorCard .AvatarInfo .fourthH{
  text-wrap-mode: nowrap;
}


/* What Our Client Say section end */


/*---------------
   About Page
----------------*/

.NewBanner{
  background: linear-gradient(to bottom, #024f83e7, #1485cbe3) no-repeat center, url('../image/NewBanner.png') no-repeat center;
  background-size: cover, cover;
}

.NewBanner .secH{
  margin-bottom: 16px;
}

/* legacy section  start */
.visionPerposeCard{
  text-align: center;
}

.imgBox{
  aspect-ratio: 4/3;
}

.imgBox{
  background: linear-gradient(to bottom, #000000c2,#000000c2) no-repeat center, url('../image/VisionPic1.png') no-repeat center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  gap: 20px 20px;
  margin-bottom: 24px;
}

.MissionBox{
  background: linear-gradient(to bottom, #000000c2,#000000c2) no-repeat center, url('../image/VisionPic2.png') no-repeat center;
  background-size: cover;
}

.PorposeBox{
  background: linear-gradient(to bottom, #000000c2,#000000c2) no-repeat center, url('../image/VisionPic3.png') no-repeat center;
  background-size: cover;
}

.IcoImg{
  width: 40%;
  max-width: 120px;
}
/* legacy section end */


/* Our Values section start */
.ourValues{
  background: linear-gradient(to bottom, #1485cbe3, #1485cbe3) no-repeat center, url('../image/blue-wavy-background.jpg') no-repeat center;
  background-size: cover;
}



.commonAccordion .accordion-button{
  background-color: #075081;
  line-height: 28px;
  color: #ffffff;
  border-radius: 100px !important;
  padding: 17px 20px !important;
}



.commonAccordion .fourthH {
  font-weight: 600;
}
.commonAccordion p {
  color: #ffffff;
  background-color: transparent;
}
.commonAccordion .accordion-button:not(.collapsed){
  box-shadow: none;
  background-color: #ffffff;
  color: var(--background-color);
}

.commonAccordion .accordion-item {
  border: none;
  margin-bottom: 10px;
  background-color: transparent !important;
}

.commonAccordion .accordion-button::after {
  content: "\f055";
  width: unset;
  height: unset;
  margin-left: auto;
  background-image: none;
  transition: var(--bs-accordion-btn-icon-transition);
  font-size: 18px;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}

.commonAccordion .accordion-button:not(.collapsed)::after {
  content: "\f056";
  transition: var(--bs-accordion-btn-icon-transition);
}

/* Our Values section end */

/*---------------
   Contact Page
----------------*/


/* map Section start */



.contactInfo .fifthH {
  color: var(--primary-color);
}
.contactInfo .secH {
  margin-bottom: 24px;
}

.contactLinkCard {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
.contactLinkCard li {
  margin: 8px 0;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 8px;
  margin-top: 24px;
  padding-bottom: 10px;
  position: relative;
}

.contactLinkCard li:last-child:after{
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 200px;
  background-color: var(--secondary-color);
}

.contactLinkCard li i {
  color: var(--secondary-color);
}
.contactLinkCard li i::before {
  vertical-align: -webkit-baseline-middle;
}
.contactLinkCard li a {
  color: var(--background-color);
  transition: 0.3s ease-in-out;
}
.contactLinkCard li a:hover {
  color: var(--primary-color);
}
.maps iframe {
  aspect-ratio: 4/3;
}

.sidePannelSocial{
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  margin: 24px 0;
  padding-left: 32px;
}

.sidePannelSocial a{
  display: inline-block;
  height: 44px;
  width: 44px;
  font-size: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.sidePannelSocial a:hover{
  background-color: var(--secondary-color);
}
/* map Section end */



/* form section start */

.formWrap{
  padding: 0 12px;
  margin: auto;
}

.formWrap textarea{
  resize: none;
}
.formWrap label{
  margin-top: 20px;
  font-weight: 600;
}
.formWrap .form-control{
  min-height: 50px;
  background-color: #d7f2ff;
  border-width: 2px;
  border-color: transparent ;
}
.formWrap .form-control:focus{
  background-color: var(--primary-color);
  color: #ffffff;
}

#desktopBtn{
  display: table;
  margin: auto;
  margin-top: 12px;
}
.FormSection{
  color: #ffffff;
  background: linear-gradient(to bottom, #1485cbe3, #1485cbe3) no-repeat center, url(../image/blue-wavy-background.jpg) no-repeat center;
    background-size: cover;
}

.FormSection .modal-header {
  justify-content: center;
  position: relative;
  color: var(--background-color);
}
.FormSection .modal-header .btn-close {
 margin: 0 !important;
 position: absolute;
 right: 14px;
 top: 14px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.option {
  border: none;
  background: none;
  cursor: pointer;
}

.option img {
  width: 50px;
  height: 50px;
}

.btnCommon{
  padding: 8px 20px;
  font-weight: 600;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.btnCommon:hover{
  border: 2px solid var(--hover-secondary);
  color: var(--background-color);
}

/* form section end */
.partnerLaboratory .container>.row{
  row-gap: 24px;
  justify-content: center;
}
.laboratoryCard{
  cursor: pointer;
  border: 1px solid var(--grey);
}



/* table API  */




.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.API_TAble {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-collapse: collapse;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.API_TAble thead {
  background-color: var(--primary-color);
  color: #fff;
}
.API_TAble th,.API_TAble  td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.API_TAble tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.API_TAble tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.2s ease;
}
.API_TAble th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
