<div class="container">
  <div class="row">
    <!-- Company Info -->
    <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
      <a class="footer-brand" href="index.html">
        <img src="image/SupertecLogoWhite.webp" alt="Unique pest control logo">
      </a>
      <p>
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque nam recusandae quibusdam laborum dolorum obcaecati labore, debitis assumenda quos quia.
      </p>
    </div>

    <div class="col-sm-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
      <h5 class="fourthH centerStyle">Quick Links</h5>
      <ul>
        <li>
          <a href="index.html"><i class="fa-solid fa-angles-right"></i>Home</a>
        </li>
        <li>
          <a href="services.html"><i class="fa-solid fa-angles-right"></i>Services</a>
        </li>
        <li>
          <a href="projects.html"><i class="fa-solid fa-angles-right"></i>Projects</a>
        </li>
        <li>
          <a href="contact.html"><i class="fa-solid fa-angles-right"></i>Contact</a>
        </li>
       
      </ul>
    </div>

    <div class="col-md-6 col-lg-auto mb-4 mb-md-0 exploreLinks1">
      <h5 class="fourthH centerStyle">Services</h5>
      <ul>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i>Page 1</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i>Page 1</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i>Page 1</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i>Page 1</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i>Page 1</a>
        </li>
        
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="col-lg-3 col-sm-6 emailSec">
      <h5 class="fourthH centerStyle">Reach Us</h5>

      <ul class="contact-info">
        <li>
          <a class="locationLink" target="_blank" href="https://maps.app.goo.gl/EMtQmUV8unVQYXWE8"><i class="fa-solid fa-location-dot" aria-hidden="true"></i> TF-A1-22, Akshar Pavilion Mall, Near Priya Cinema,Vasna Bhyali Main Road, Vadodara,391410</a>
        </li>
        <li>
          <a href="tel:+91 7990909711"><i class="fa-solid fa-mobile-screen-button" aria-hidden="true"></i> +91 79909 09711</a>
        </li>
        <li>
          <a class="emailAnchor" href="mailto:contact@shriiitrackingsolutions.com"><i class="fa-solid fa-envelope" aria-hidden="true"></i>shriiitrackingsolutions</a>
        </li>
      </ul>
      <div class="social-icons mt-3">
        <a class="facebook" href="#"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
        <a class="instagram" href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <a class="whatsapp" href="#"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>